body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
}

.header {
    background-color: lightslategray;
    height: 50px;
    font-size: 40px;
    padding: 10px 40px;
    color: white;
}


#content {
    display:flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: lightslategray;
    height: 50px;
}


.gridRow {
    border: 1px solid black;
}

.cell {
    border: 1px solid black;
}